.user{width:300px;margin-left:auto;margin-right:auto;}
.user table{width:100%;}
.user table th{text-align:right;font-size:13px;}
.user-field input{border:1px solid #707070;width:150px;}

.user-keep{text-align:center;font-weight:bold;}
.user-keep input{vertical-align:middle;}

.user-info{font-style:italic;}
.user-awaiting-mail{text-align:right;color:#775632;font-size:11px;vertical-align:top;line-height:0px;padding-bottom:12px;}
