body{margin:0px;padding:0px;background-color:#edf0f5;overflow:hidden;font-family:Verdana;font-size:12px;}

a{text-decoration:none;color:#bb8018;}

h1{font-size:20px;font-weight:bold;text-align:center;background-color:#daedf5;margin:0px;padding:10px;}
h2{font-size:17px;font-weight:normal;text-align:left;background-color:#99d4ec;margin:0px;padding:8px;}

ul{list-style-type:none;}

.form-container{background-color:#9dc8ff;font-size:16px;overflow:hidden;padding:50px 0px;}
form{margin:auto;max-width:600px;background-color:#9dc8ff;padding:0px 50px;font-size:16px;overflow:hidden;}
.form-caption{font-weight:bold;text-align:center;}
form p{margin:10px 0px;}
form label{}
form input{width:100%;margin:0px;padding:13px;border:1px solid #38456b;border-bottom-width:5px;background-color:#e5f1e6;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
form input:focus{outline:none;border:1px solid #8c91a2;border-bottom-width:5px;background-color:#fff;}
form input[type=checkbox]{width:14px;height:14px;margin:0px;vertical-align:middle;}
form input[type=radio]{width:14px;height:14px;margin:0px;vertical-align:middle;}
form label.checkbox{display:inline-block;padding:16px;border:1px solid #38456b;background-color:#e5f1e6;}
form p.form-control{text-align:right;}
form input[type=submit]{width:auto;cursor:pointer;border-radius:5px;font-size:16px;font-weight:bold;border-bottom-width:1px;}
form input[type=submit]:hover{background-color:#fff;}
form a.form-link-left{float:left;}
form a.form-link-right{float:right;}
#registration{float:left;}

.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}

.message{padding:10px;text-align:center;}
.message-success{background-color:#6de06d;color:#214121;}
.message-error{background-color:#d66b6b;color:#4b1313;}
.message-information{background-color:#f8f8a5;color:#5f5f2f;}

#menu{background-color:#68bddf;position:absolute;left:0px;top:0px;display:none;}
.menu-button{display:block;width:40px;height:40px;float:left;margin:5px;background-color:#172930;}
.menu-albumconfig{background-image:url('menu-albumconfig.png');}
.menu-back{background-image:url('menu-back.png');}
.menu-load{background-image:url('menu-load.png');}
.menu-console{background-image:url('menu-console.png');}
.menu-users{background-image:url('menu-users.png');}
.menu-deleted{background-image:url('menu-deleted.png');}
.menu-logout{background-image:url('menu-logout.png');}

#content{position:absolute;left:0px;top:0px;right:0px;bottom:0px;overflow-x:hidden;overflow-y:scroll;}
