body{background:#90cbc7 url('./images/body.jpg');color:#361616;font-family:Arial;font-size:12px;margin:0px;}
a{color:#fff;}
a:active{outline:none;}

header{display:block;padding:10px 20px;background:#9cc8e4 url('./images/header.jpg');position:relative;z-index:2;height:80px;}
.simplegallery-logo{position:absolute;left:0px;top:0px;}
header h1{font-size:30px;font-family:"Times New Roman";font-weight:bold;color:#323232;margin:0px 0px 0px 85px;text-shadow:1px 1px 0px #90cbc7, 2px 2px 0px #8a8a8a;line-height:75px;display:inline;}
header a{color:inherit;text-decoration:inherit;}
header a:hover{color:#1e3d5a;}
.header-menu{position:absolute;right:0px;bottom:0px;padding:5px;text-align:right;}
.header-login{font-style:italic;font-weight:bold;}
.page{position:relative;}
footer{display:block;text-align:right;padding:3px;color:#323232;font-size:11px;z-index:1;}
footer a{text-decoration:underline;}
footer a:hover{text-decoration:none;}

.message_success{background-color:#c6edc4;color:#2a8c25;font-weight:bold;text-align:center;font-size:14px;padding:10px;position:relative;z-index:10;}
.message_error{background-color:#e8abae;color:#aa0a14;font-weight:bold;text-align:center;font-size:14px;padding:10px;position:relative;z-index:10;}
.message_information{background-color:#ffce77;color:#8b662f;font-weight:bold;text-align:center;font-size:14px;padding:10px;position:relative;z-index:10;}

.box{margin:30px 10px 0px 10px;background-color:rgba(255,255,255,0.5);padding:10px;border-radius:4px;}
.box h2{color:#323232;text-shadow:1px 1px 0px rgba(255,255,255,0.5), 2px 2px 0px #707070;text-align:center;font-size:20px;}
.box-submit{text-align:center;}
.box-submit input{font-size:12px;}
.box-links{text-align:right;margin:0px;padding:0px;list-style-type:none;}
.box a{color:#c05555;}
