.admin{color:#323232;background-color:#c5a677;padding:10px;margin:10px;}
.admin-title{color:#323232;text-shadow:1px 1px 0px #c5a677, 2px 2px 0px #707070;text-align:center;font-size:20px;}
.admin-parameters{margin:5px 0px;}
.admin-parameters input{border:1px solid #707070;padding:0px 3px;}
.admin label{font-weight:bold;}
.admin-users-groups{border-collapse:collapse;table-layout:fixed;}
.admin-users-groups th{padding:3px 5px;font-weight:normal;}
.admin-users-groups th,.admin-users-groups td{border:1px #ccc dotted;}
.admin-users-group-check{text-align:center;}

.admin-submit{text-align:center;}
.admin-submit input{border:1px solid #323232;font-weight:bold;}
.admin-links{text-align:right;}
