#admin-locales{display:none;}

.admin-states{list-style-type:none;overflow:hidden;margin:5px 5px 0px 15px;padding:0px;}
.admin-states li{float:left;display:block;width:100px;height:30px;line-height:30px;background-color:rgba(255,255,255,0.8);text-align:center;margin:0px 5px;font-weight:bold;}
.admin-states li a{color:#7a4d4d;font-weight:bold;}

.admin{margin-top:0px;}
.admin-parameters{margin:5px 0px;}
.admin-parameters input{border:1px solid #707070;padding:0px 3px;}
.admin label{font-weight:bold;}
.admin-user-add{font-weight:normal;}
.admin-user-no-active{color:#aa2424;}
.admin-users-groups{border-collapse:collapse;table-layout:fixed;}
.admin-users-groups th{padding:3px 5px;font-weight:normal;}
.admin-users-groups th,.admin-users-groups td{border:1px #808080 solid;}
.admin-users-groups th.table-empty-cell-top-left1{border-top:none;border-left:none;border-right:none;}
.admin-users-groups th.table-empty-cell-top-left2{border-top:none;border-left:none;}
.admin-users-groups th.table-empty-cell-top-right{border-top:none;border-right:none;border-bottom:none;}
.admin-users-group-check{text-align:center;}
.admin-users-groups td.admin-user-delete{border:none;padding:0px 5px;}

#user-add{display:none;background-color:#e9cfa8;padding:10px;margin-bottom:10px;}
#user-add table th{text-align:right;font-size:13px;}
.user-field input{border:1px solid #707070;width:150px;}

.admin-albums{width:100%;border-collapse:collapse;}
.admin-albums tr:hover td{background-color:rgba(0,0,0,0.3);}
.admin-albums td{border:1px solid #000;padding:0px 5px;background-color:rgba(0,0,0,0.1);}
.admin-album-dates{text-align:center;width:300px;}
.admin-albums input{font-size:11px;border:1px solid #000;padding:0px 3px;height:18px;margin:2px;}
.admin-album-name{width:200px;}
.admin-album-medias-total{font-style:italic;font-size:11px;color:#6f6161;}

#adminGroups{list-style-type:none;margin:0px;padding:0px;}
#adminGroups input{list-style-type:none;border:1px solid #000;}
.admin-album-id{width:20px;font-weight:bold;text-align:right;color:#c05555;font-style:italic;}
.admin-album-links{text-align:center;}
.admin-album-check-result{background-color:#fff;vertical-align:top;padding:0px;}
.admin-album-check-result div{margin:5px;overflow:auto;height:200px;}
.admin-album-cancel{display:none;}
.album-check-cancelled{color:#972222;}
.album-check-end{color:#34804d;}
