.noalbum{font-size:25px;text-align:center;}

#walls{position:absolute;right:0px;bottom:0px;}

#albums{overflow:hidden;}
.album{display:block;width:200px;height:210px;padding:10px 10px 20px 10px;visibility:hidden;}
.album-name{z-index:2;position:absolute;left:2px;right:2px;top:25px;text-align:center;text-decoration:none;color:#fff;background-color:rgba(121,175,201,0.75);font-size:18px;padding:2px;font-variant:small-caps;}
.album-cover{z-index:1;height:180px;position:relative;text-align:center;line-height:180px;font-size:20px;}
.album-cover-media{box-shadow:0px 0px 2px #333;position:absolute;-webkit-backface-visibility:hidden;background-color:#d8d8d8;}
/*
.album{position:absolute;color:#5c5c5c;-webkit-text-fill-color:transparent;display:block;width:200px;height:150px;font-size:20px;font-family:Verdana;font-weight:bold;text-transform:uppercase;background-color:#ccc;}
.album-name-shadow{display:inline-block;padding:0px 5px 3px 5px;position:absolute;left:3px;top:3px;background-color:#fff;text-shadow:0px 1px 1px #a5a5a5;margin-right:8px;box-shadow:0px 0px 5px #535353;}
.album-name{display:inline-block;padding:0px 5px 3px 5px;position:absolute;left:3px;top:3px;background-position:0px -10px;-webkit-background-clip:text;margin-right:8px;}
*/

#medias{position:relative;}
.media{display:block;overflow:hidden;background-color:#cecece;visibility:hidden;position:relative;}
.media.deleted{display:none;}
#medias.show-deleted .media.deleted{display:block;}
.deleted-border{display:none;position:absolute;left:0px;top:0px;right:0px;bottom:0px;border:2px solid #e94319;}
.media.deleted .deleted-border{display:block;}
.media>img{position:absolute;margin:0px;border:0px;vertical-align:bottom;width:100%;height:100%;}
.media-video-play{position:absolute;width:125px;height:125px;background-image:url('video-play.png');}
.media-video-play-cover{position:absolute;width:50px;height:50px;background-image:url('video-play-cover.png');}
.media-tools{margin:0px;padding:0px;display:none;position:absolute;right:0px;top:0px;}
.media-tools li{width:20px;height:20px;}
.media-tools li.rotate-left{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QULEyIOI//bLgAAAQJJREFUOMvdlLFKQ0EQRc88opDYi2In6e3FyoBgY+Vn+AM26j9o6YeIVUDtFdFvEBsbUZDIsfCtLI81PpI05sLCwMzevXtnd2DuoI7NR1bYiYiRSkSgLgDLwB7QBz6Aa2AIvEWEqfa3kw/VQR0P1EfLeFcv1N5YxepxveHUdnhV15s8VeH6By3tXAJu1MVcZfXHpjOgH99GVcAOcJ/lV4Dzoo/qSeFaW7lPalovjbq1ksJuQeGVup8URETq6majbnvit1cr7KrPmcKjth7+KCvEo1Jzqwk/TK9uSMLTtN/vstGUjWnIQn3IyO5mMhzUW/VTXZ0VYUfdbTOBWpHmj/1/4QvDpR5Xs2ODRQAAAABJRU5ErkJggg==');}
.media-tools li.rotate-right{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QULEyIHWiNjigAAAQVJREFUOMvVlLEuRFEQhr+52Wyy6wVWdKLXyxZiE4neY3gBDd6B0lOoNlrRE6HyALKNRqKw8incKyfHWblcBdPMFDP/+eefmQP/2tRv10QJJCJQAxgCm8AY6AP3wBkwi4iXJLcXEfOFjNShOlWfLdudOqlzJ+r+V22uqk+2s+PaHzb1vYxdH7gEllpKtpdLV32IGQFwCoySghtgG6jiPWENOGk70ZWsnUc11bXx40LrR58YAlvZGxsR0TBvprkLXBT4DEoMD5IXZ+og3cO2O1ktiOeJruRxW8CHJB7VS93pzNYzoc9/43avE8Db+vw6AS6rr+rVTz+H0h3vqL3OgBlod7A/a2+Mzhpco4/AkAAAAABJRU5ErkJggg==');}
.media-tools li.delete{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsNDDQaqJy/dAAAASBJREFUOMvVlL1Ow0AQhOfsyAkxCWCFB6KggQcECYKsUABSJAqkOAo/eSEEokd8NBdYzPnilNnG9t7c3Hhnb6WtCyAHui1wXaDfBvQAXAEHEdwIuAamjYd7ZTN+YwGkAVwPeDG4qVWaGOynpFfzfSypskqBkaSZpCODe/d7gyoL4Im/UQK7wBC4qa3Ngf11dcwM6Zd/Xvqa2dwccG2dLgIE9n0M7G3aPgNgwv84B/KmfUmE00lKA/nUr22k7hC4i/xyGevTOlkfWNYIzjyJzS2AThtly1rNLnzTD4xRq3gEiiayXqDPKutmQ5+OgSxkSiLJXvZK0olz7uPHJefeJJ1Kel6dISmX1IkNh3tfs+GaPi2BW6suZkrWcnztbN+A/gZfEuKElWAzNAAAAABJRU5ErkJggg==');}

#slideshow{position:absolute;left:0px;top:0px;display:none;}
#slideshow-media{position:absolute;left:0px;top:0px;background-color:#252525;}
#slideshow-media-image{position:absolute;display:none;}
#slideshow-media-video{position:absolute;display:none;}
#slideshow-media-book{position:absolute;display:none;}
#slideshow-close{position:absolute;top:3px;right:3px;width:20px;height:20px;background:transparent url('slideshow.png') 0px 0px;cursor:pointer;}
#slideshow-panel{position:absolute;right:0px;top:0px;background-color:#eee;}
#slideshow-panel-name{margin:10px;padding-bottom:10px;font-size:20px;border-bottom:1px solid #ccc;}
#slideshow-panel-exif-title{padding:5px 10px;font-size:15px;position:relative;cursor:pointer;background-color:#ddd;}
#slideshow-panel-exif-toogle{position:absolute;right:3px;top:3px;width:20px;height:20px;background:transparent url('slideshow.png') 0px -20px;}
.slideshow-panel-exif-open #slideshow-panel-exif-toogle{background:transparent url('slideshow.png') 0px -40px;}
#slideshow-panel-exif{font-size:11px;margin:0px;padding:10px 0px 10px 10px;display:none;}
.slideshow-panel-exif-open #slideshow-panel-exif{display:block;}
.exif-data-title{color:#aaa;}
.exif-data-value{}

.slideshow-panel-book-pages{position:relative;overflow-y:scroll;}
.slideshow-panel-book-page{cursor:pointer;}
